/* *{
    margin: 0;
    padding: 0;
}
.par {
    width: 90vw;
    height: 90vh;
    background-color: rgb(17, 116, 40);
}

.child {
    width: 50px;
    height: 50px;
    background-color: orange;
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    animation: move;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;

}

@keyframes move {
    0%, 100% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left:86.5%;
    }
    50% {
        top: 82.5%;
        left: 86.5%;
    }
    75% {
        left: 0;
        top: 82.5%;
    }
}*/


/* * {
    margin: 0;
    padding: 0;
}

.par {
    width: 90vw;
    height: 90vh;
    background-color: rgb(17, 116, 40);

}

.box1 {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    animation-name: move;
    animation-duration: 6s;

}

.box2 {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.615);
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 0.02s;
    opacity: 0.8;
}

.box3 {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.436);
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 0.04s;
    opacity: 0.6;
}

.box4 {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.397);
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 0.05s;
    opacity: 0.4;
}

.box5 {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.277);
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 0.07s;
    opacity: o.2;
}

@keyframes move {

    0%,
    100% {
        top: 0;
        left: 0;
        opacity: 0.8;
    }

    25% {
        top: 0;
        left: 86.5%;
        

    }

    50% {
        top: 82.5%;
        left: 86.5%;
        
    }

    75% {
        left: 0;
        top: 82.5%;
    }

} */
* {
    margin: 0;
    padding: 0;
}

.par {
    width: 90vw;
    height: 90vh;
    background-color: rgb(17, 116, 40);

}

.child {
    width: 50px;
    height: 50px;
    background-color: orange;
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    animation-name: move;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes move {

    0%,
    100% {
        top: 0;
        left: 0;


    }

    25% {
        top: 0;
        left: 86.5%;
       
        background-color: blue;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);


    }

    50% {
        top: 82.5%;
        left: 86.5%;
        background-color: aqua;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);


    }

    75% {
        left: 0;
        top: 82.5%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
}


